<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.com.TayNhanhHonNao">

    <application
        android:allowBackup="true"
        android:icon="@drawable/brain"
        android:label="Tay Nhanh Hơn Não"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="demo.com.TayNhanhHonNao.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="demo.com.TayNhanhHonNao.HardCore"></activity>
        <activity android:name="demo.com.TayNhanhHonNao.MainActivity"></activity>
    </application>

</manifest>